<div id="{{id}}" parent-id="{{parent_id}}" class="box action">
    <div class="box-heading">
        <div class="box-title">
            Action
        </div>
        <div class="box-buttons">
          <div class="box-btn run-box">
              <span class="fa fa-play"></span>
          </div>
            <div class="box-btn add-result">
                <span class="fa fa-plus"></span>
            </div>
            <div class="box-btn next-action">
                <span class="fa fa-angle-right"></span>
            </div>
        </div>
    </div>
    <div class="box-details">
        <div class="col-xs-4 rp">
            <span class="type-label">Type</span>
            <span class="selector-label">Selector</span>
        </div>
        <div class="col-xs-8 rp">
            <select class="box-type">
              <option value="form">Form</option>
              <option value="click">Click</option>
            </select>
            <input class="selector" type="text">
        </div>
    </div>
</div>
